In [1]:
import pandas as pd

houseData = pd.read_csv("housingData.csv")
priceData =

,suburb,type,rent,value,oldRent,oldValue,changeRent,changeValue
0,ACT Remainder - Belconnen,houses,680.0,5.554528e+05,NaN,NaN,NaN,NaN
1,ACT Remainder - Gungahlin,houses,680.0,7.397478e+05,695.0,388683.1232,-0.021583,0.903216
2,Ainslie,houses,700.0,1.204675e+06,695.0,978682.0081,0.007194,0.230915
3,Amaroo (ACT),houses,585.0,8.191847e+05,572.5,705350.9666,0.021834,0.161386
4,Aranda,houses,635.0,1.208682e+06,650.0,951922.2373,-0.023077,0.269727
...,...,...,...,...,...,...,...,...
153,Turner,units,520.0,5.302558e+05,500.0,498524.4514,0.040000,0.063650
154,Wanniassa,units,465.0,4.045805e+05,400.0,365977.0822,0.162500,0.105480
155,Watson,units,450.0,4.095398e+05,420.0,383347.3320,0.071429,0.068326
156,Wright,units,480.0,4.247181e+05,450.0,389119.8092,0.066667,0.091484
157,Yarralumla,units,550.0,1.033055e+06,630.0,831873.3769,-0.126984,0.241842